/**
 * @file index.css
 * @author swan
 */
.container {
    width: 100%;
    /* height: 1000px; */
    padding-bottom: 24.15rpx;
}
.style_pad{
    padding: 0 53.14rpx 69.44rpx;
}
/* ---------------------------------------- */

/* ---------------------------------------- */
