@import "../../bdParse/bdParse/bdParse.css";
.scroll-view{
    height: calc(100vh - 94rpx);
}
.detail_container {
    /* width: 100%; */
    /* padding: 43.48rpx 50.16rpx 60.39rpx; */
    padding: 43.48rpx 0 60.39rpx;

    line-height: 1.6;
}
.swiper_box{
    height: 581.16rpx;
}
.content-box {
    width: 100%;
    /* height: 1524.64rpx; */
    overflow: hidden;
    position: relative;
}
.content-box.show {
    height: auto !important;
    overflow: auto;
}
.content-box.show .show-more {
    display: none;
}
.ad-title {
    height: 84.54rpx;
    width: 650.29rpx;
    margin: 0 auto -44.99rpx;
    display: flex;
    align-items: center;
}
.ad-title1 {
    height: 84.54rpx;
    width: 650.29rpx;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.ad-title.show {
    /* border-top: 1px solid #eeeeee; */
    overflow: hidden;
}
.ad-title-mode-1 {
    width: 21.74rpx;
    height: 21.74rpx;
    text-align: center;
    line-height: 21.74rpx;
    background: #d8d8d8;
    /* border: 1px solid #979797; */
    color: #ffffff;
    font-size: 14.49rpx;
    border-radius: 160.39rpx;
}
.ad-title-mode-2 {
    font-family: PingFangSC-Regular;
    font-size: 21.74rpx;
    color: #666666;
    letter-spacing: 0;
    line-height: 21.74rpx;
    margin: 0 14.49rpx;
}
.ad-title-mode-3 {
    font-family: PingFangSC-Regular;
    color: #999999;
    letter-spacing: 0;
    font-size: 21.74rpx;
    line-height: 21.74rpx;
}
.show-more {
    position: absolute;
    width: 100%;
    /* height: 160.77rpx; */
    padding-top: 40rpx;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 10%,
        rgba(255, 255, 255, 0.9) 20%,
        #ffffff 50%,
        #ffffff 100%
    );
    /* background: linear-gradient(to bottom,rgba(0,0,0,0),#ffffff); */
}
.noheight{
    height: auto;
}
.show-more image {
    display: block;
    width: 18.12rpx;
    height: 19.32rpx;
    margin: 0 auto 15.1rpx;
}
.yuedu-btn {
    width: 290.6rpx;
    height: 72.46rpx;
    border: 1.81rpx solid #333333;
    border-radius: 66px;
    margin: 0 auto;
    text-align: center;
    line-height: 72.46rpx;
}

swan-ad {
    /* margin-top: 34.12rpx; */
    margin: 0 18.6rpx 0 18.6rpx;
    /* margin-bottom: -7.25rpx; */
    /* border-top: 18.04rpx solid rgba(0, 0, 0, 0.038);
    border-bottom: 18.04rpx solid rgba(0, 0, 0, 0.038); */
}
/* .swan-ad-video-component {
    width: 643.12rpx !important;
} */

.swan-ad-banner {
    display: flex;
    width: 90% !important;
    margin: 0 auto !important;
    line-height: normal;
}

.swan-ad-single-video-container .swan-ad-video-component {
    opacity: 0;
}
.swan-ad-single-video .swan-ad-video-container img {
    width: 96% !important;
    height: 100%;
    display: block;
}

.swan-ad-single-video .swan-ad-video-container .swan-ad-video-duration {
    opacity: 0.4;
    background: #000;
    color: #fff;
    border-radius: 2.41vw;
    position: absolute;
    font-size: 2.41vw;
    padding: 0.97vw 2.17vw;
    bottom: 3vw;
    right: 4.2vw;
}

.ad_container {
    /* padding: 0 18rpx; */
    /* margin: 18.12rpx 0;
    width: 100%; */
    margin-bottom: -7.25rpx;
    /* border-top: 16.04rpx solid rgba(0, 0, 0, 0.038); */
    border-bottom: 20.04rpx solid rgba(0, 0, 0, 0);
}
.rich-img {
    width: 100%;
    height: auto;
}
.detail-padding-box {
    /* margin-top: 55.56rpx; */
    padding: 0 50.16rpx 10.56rpx;
    overflow: hidden;
}
.tj-detail-padding-box {
    padding: 0 0 41.56rpx;
    overflow: hidden;
}
.tj-detail-padding-box .ad_container {
    padding-top: 38.49rpx;
}
.tj-detail-padding-box custom {
    /* padding: 0 50.16rpx; */
}
.tj-detail-padding-box .padddd {
    padding: 0 50.16rpx;
    width: auto;
}
.tj-detail-padding-box .ad_container {
    border: 0;
}
.tj-detail-padding-box .ad-title.show {
    border: 0;
}

.noLineHeight .bdParse-p {
    /* margin-top: 12.12rpx!important; */
    margin: 0 0 22.08rpx !important;
    line-height: 54.35rpx;
    font-size: 28.99rpx;
}
.bdParse-p {
    line-height: 54.35rpx;
}
.noLineHeight .bdParse-section {
    margin: 0 0 12.08rpx;
    line-height: 54.35rpx;
    font-size: 28.99rpx;
}
.bdParse-span {
    /* display: inline-block; */
    /* min-height: 41.06rpx; */
}
.bdParse-section {
    width: 100% !important;
    min-height: 41.06rpx;
}
/* .bdParse-section .bdParse-section {
    width: 100% !important;
    height: 100%;
} */
/* .bdParse-p{
    margin-top: 12.12rpx!important;
} */

.bdParse-p,
.bdParse-section {
    display: block !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.bdParse-img {
    display: block;
    margin: 0 auto;
}
.title_text {
    font-family: PingFangSC-Medium;
    font-size: 43.48rpx;
    color: #000000;
    letter-spacing: 0;
    line-height: 64rpx;
    /* font-weight: 600; */
    font-weight: bold;
}
.yc_icon {
    text-align: center;
    line-height: 30.8rpx;
    width: 59.78rpx;
    height: 30.8rpx;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 21.74rpx;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: -10rpx;
    left: 12rpx;
}
.anthor_info {
    margin-top: 24.15rpx;
    height: 39.86rpx;
    margin-bottom: 24.15rpx;
    line-height: 39.86rpx;
    /* display: flex; */
}
.touxiang {
    width: 39.86rpx;
    height: 39.86rpx;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    float: left;
    /* background: #000000; */
    border-radius: 50%;
    /* overflow: hidden; */
    position: relative;
}
.touxiang .touxiang {
    width: 100%;
    height: 100%;
}
.touxiang .v_logo {
    width: 14.49rpx;
    height: 14.49rpx;
    right: -2rpx;
    bottom: -2rpx;
}

.anthor_name {
    font-family: PingFangSC-Regular;
    font-size: 21.74rpx;
    color: #222222;
    float: left;
    height: 40rpx;
    line-height: 40rpx;
    margin-left: 14.49rpx;
}
.anthor_biaoqian {
    margin-left: 14.49rpx;
    font-family: PingFangSC-Regular;
    font-size: 21.74rpx;
    color: #999999;
    float: left;
    height: 40rpx;
    line-height: 40rpx;
    flex: 1;
}
.anthor_biaoqian.hidden {
    /* width: 362.32rpx; */
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
.flex_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.anthor_zhuanzai {
    font-family: PingFangSC-Regular;
    font-size: 21.74rpx;
    color: #999999;
    letter-spacing: 0;
    text-align: right;
    height: 40rpx;
    line-height: 40rpx;
    float: right;
}
.left_con {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 80%;
}
.flex_1 {
    flex: 1;
}
.anthor_time {
    font-family: PingFangSC-Regular;
    font-size: 21.74rpx;
    color: #999999;
    letter-spacing: 0;
    text-align: right;
    height: 100%;
    line-height: 40rpx;
    float: right;
    min-width: 88.7rpx;
}
.hexin_guandian {
    margin-top: 30.19rpx;
    /* width: 100%; */
    /* min-height: 120.77rpx; */
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4.42rpx 4.42rpx;
    border-top: 3px solid rgba(0, 0, 0, 1);
    padding: 18.12rpx 9.66rpx 18.12rpx 18.12rpx;
    margin-bottom: 72.46rpx;
}
.container_node_title {
    /* font-weight: 600; */
    font-weight: bold;
}
.hexin_guandian_title {
    font-family: PingFangSC-Medium;
    font-size: 28.99rpx;
    color: #000000;
    margin-bottom: 7.25rpx;
    /* font-weight: 600; */
    font-weight: bold;

    /* letter-spacing: 0; */
    /* line-height: 48px; */
}
.flex_center {
    align-items: center;
}
.hexin_guandian_detail {
    font-family: PingFangSC-Regular;
    font-size: 28.99rpx;
    color: #666666;
    letter-spacing: 0;
    /* text-align: justify; */
    line-height: 43.48rpx;
}
.two_lv_title {
    width: 100%;
    height: 96.62rpx;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    position: relative;
    z-index: 1;
    margin: 65.22rpx 0 21.74rpx 0;
}
.two_lv_title_bg {
    width: 276.57rpx;
    height: 63.41rpx;
    background: #979797;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #979797;
}

.two_lv_title_text {
    width: 276.57rpx;
    height: 63.41rpx;
    background: #ffffff;
    border: 1px solid #979797;
    text-align: center;
    line-height: 63.41rpx;
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-47%, -42%);
    font-size: 32.61rpx;
    color: #333333;
    /* text-align: justify; */
}
.p_text {
    font-family: PingFangSC-Regular;
    font-size: 28.99rpx;
    color: #333333;
    /* text-align: justify; */
    line-height: 54.35rpx;
    margin-bottom: 28.99rpx;
}
.join_img {
    width: 637.68rpx;
    height: 346.62rpx;
    margin: 0 0 21.74rpx;
}
.tips_text {
    width: 623.18rpx;
    height: 66.43rpx;
    border-left: 2px solid #999999;
    font-family: PingFangSC-Regular;
    font-size: 28.99rpx;
    color: #999999;
    /* text-align: justify; */
    line-height: 32.61rpx;
    padding-left: 14.49rpx;
}
.bottom_sm {
    font-family: PingFangSC-Regular;
    font-size: 21.74rpx;
    color: #999999;
    text-align: justify;
    line-height: 21.74rpx;
    margin-top: 28.99rpx;
}
.m_b_24 {
    margin-bottom: 14.49rpx;
}
.jubao_btn {
    color: #3777d6;
    margin-left: 14.49rpx;
}

.good_btn {
    width: 140.1rpx;
    height: 140.1rpx;
    background: #ffffff;
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    margin: 55.56rpx auto 14rpx;
    overflow: auto;
    position: relative;
    z-index: 99;
}
.zan_logo {
    width: 43.48rpx;
    height: 43.48rpx;
    margin: 39.25rpx auto 10.49rpx;
}
.zan_logo_img {
    width: 43.48rpx;
    height: 43.48rpx;
}
.author_msg {
    /* display: inline-block; */
    flex: 1;
    /* width: 362.32rpx; */
    height: 100%;
    /* background: #000000; */
    overflow: hidden;
    display: flex;
    float: left;
}
.author_msg.duan {
    max-width: 45%;
}
.zan_num {
    /* width: 43.48rpx;
    height: 43.48rpx; */
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 25.36rpx;
    color: rgba(0, 0, 0, 0.3);
    line-height: 25.36rpx;
}
.zan_num.liked {
    color: #333333;
}

/* ---- */

.container_node {
    /* padding-left: 56.16rpx; */
    /* margin-top: 48.31rpx; */
    /* margin-top: 54rpx; */
    margin-top: 84.54rpx
}
.container_node_top {
    padding: 0 50.16rpx;
    height: 28.99rpx;
    display: flex;
    align-items: center;
    font-family: PingFangSC-Semibold;
    font-size: 28.99rpx;
    color: #000000;
    line-height: 28.99rpx;
    margin-bottom: 24.15rpx;
}

.container_node_top_line {
    width: 5.43rpx;
    height: 28.99rpx;
    background: #000000;
    margin-right: 7.25rpx;
}
.anthor_msg {
    display: flex;
    padding: 0 50.16rpx;
}
.anthor_msg_logo {
    width: 83.33rpx;
    height: 83.33rpx;
    position: relative;
}
.line {
    width: 638.29rpx;
    height: 0.6rpx;
    background: #dfdfdf;
    margin-top: 43.48rpx;
}
.anthor_msg_logo .anthor_logo {
    width: 83.33rpx;
    height: 83.33rpx;
    border-radius: 50%;
}
.anthor_msg_info {
    margin-left: 18.12rpx;
}
.v_logo {
    width: 21.74rpx;
    height: 21.74rpx;
    position: absolute;
    bottom: 0;
    right: 0;
}
.anthor_msg_name {
    font-family: PingFangSC-Regular;
    font-size: 27.17rpx;
    color: #000000;
    /* text-align: justify; */
    line-height: 27.17rpx;
    margin: 9.66rpx 0 8.45rpx;
}

.anthor_msg_bq {
    font-family: PingFangSC-Regular;
    font-size: 23.55rpx;
    color: #9c9c9c;
    text-align: justify;
}
/* 评论区 */
/* 底部bar */
.bottom_bar{
    height: 94rpx;
    border-top:solid 1rpx #DEDEDE;
    padding: 0 50.16rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-box{
    margin-right: 85rpx;
    flex: 1;
    height: 100%;
    position: relative;
}
.click-wrap{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.btn-get-info{
    position:  absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}
.bottom_bar_input_image{
    width: 44rpx; 
    height: 27rpx;
    display: flex;
}
.bottom_bar_input_image image{
   width: 25rpx; 
   height: 27rpx;
}
.input-talk{
    color:#999999;
    width: calc(100% - 44rpx);
    font-size: 27rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    display: flex;
    align-items: center;

}
.m_r_0{
    margin-right: 0;
}
.m_b_0{
    margin-bottom: 0;
}
.bottom_bar_btn_wrap{
    display: flex;
    align-items: center;
}
.btn-bar-wrap{
    position: relative;
    display: flex;
    align-items: center;
}
.btn-bar-wrap_red_count{
    position: absolute;
    padding: 0 2.02rpx;
    right: 0;
    top:0;
    min-width: 35.42rpx;
    overflow: visible;
    height: 24.15rpx;
    line-height: 24.15rpx;
    text-align: center;
    transform: translate(50%,-50%);
    background:rgba(241,81,73,1);
    border-radius: 10.87rpx;
    color: #fff;
    z-index: 1;
    font-size: 16.3rpx;
}
.btn-bar-wrap_red_count>text{
    white-space: nowrap;  
}
.bottom_bar_image_1{
    width: 38.04rpx;
    height: 38.04rpx;
}
.bottom_bar_image_2{
    width: 38.04rpx;
    height: 38.04rpx;
    margin-left: 47.1rpx;
}
.bottom_bar_image_3{
    width: 38.04rpx;
    height: 38.04rpx;
    margin-left: 47.1rpx;
}
.bottom_bar_image_4{
    width: 38.04rpx;
    height: 38.04rpx;
    margin-left: 47.1rpx;
}
/* .input-placeholder{
    background: url(../../images/input_logo.png) no-repeat left center;background-size: 25rpx 27rpx;padding-left: 44rpx;
} */
/* 评论列表 */
.comment-list-scroll{
    height: calc(100% - 94.2rpx);
    font-family:PingFangSC-Regular,PingFang SC;
}
.comment-list-action{
    height: 94.2rpx;
    border-top:solid 1rpx #DEDEDE;
    background:rgba(250,250,250,1);
    display: flex;
    align-items: center;
    padding: 0 50.16rpx;
    font-family: PingFangSC-Regular;
}
.take-up{
    height: 205.31rpx;
}
.no-comment{
    width: 262.08rpx;
    height: 188.41rpx;
    margin: 0 auto;    
    display: block;
}
.no-comment-text{
    font-size: 27.17rpx;
    height: 38.04rpx;
    line-height: 38.04rpx;
    text-align: center;
    color:rgba(153,153,153,1);
    margin-top: 76.09rpx;
    
}
/* 评论详情 */
.comment-detail-comment{
    font-family:PingFangSC-Regular,PingFang SC;
}
.comment-detail-blank{
    width: 100%;
    height: 18.12rpx;
    background:rgba(235,235,235,1);
}
.comment-detail-count{
    height: 81.52rpx;
    display: flex;
    align-items: center;
    font-size: 34.42rpx;
    font-weight: 500;
    padding-left: 50.16rpx;
    color:rgba(51,51,51,1);
    border-bottom: solid 1rpx rgba(217,217,217,1);
}
.no-reply-take-up{
    height: 42.87rpx;
}
.no-reply{
    /* margin-top: 42.87rpx; */
}
.no-reply-text{
    margin-top: 57.97rpx;
}
/* 商品列表css */
.goog-list-box{
    height: 100%;
    padding: 0 50.16rpx;
    box-sizing: border-box;
}
.per-good{
    padding: 24.15rpx 0 23.55rpx 0;
    display: flex;
    border-bottom: solid 1rpx #F1F1F1;
    font-family:PingFangSC-Regular,PingFang SC;
    font-size: 27.17rpx;
}
.per-good:last-child{
    border-bottom: none;
}
.per-good_image{
    width: 181.16rpx;
    height: 181.16rpx;
    flex: 1;
}
.per-good_content{
    padding-left: 18.12rpx;
    max-width: calc(100% - 181.16rpx);
    min-width: calc(100% - 181.16rpx);
}
.per-good_content_title{
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align:justify;
    line-height: 45.29rpx;
    font-size: 32.61rpx;
    color: #333333;
    font-weight: 400;
}
.price-box{
    margin-top: 48.31rpx;    
}
.price-box>view{
    display: inline-block;
}
.current-price{
    color: #E4393C
}
.current-price_number{
    font-size: 40.46rpx;
    line-height: 55.56rpx;
    font-weight: 600;
}
.former-price{
    margin-left: 18.12rpx;
    color: #999999;
    text-decoration: line-through;
}